<!DOCTYPE html>
<!-- See http://www.firepad.io/docs/ for detailed embedding docs. -->
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
    <!-- ACE and its JavaScript mode and theme files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/mode-javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/theme-tomorrow_night_bright.js"></script>

    <!-- Firepad -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
    <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>

    <style>
      html {
        height: 100%;
      }

      body {
        margin: 0;
        height: 100%;
        position: relative;
      }

      /* Height / width / positioning can be customized for your use case.
       For demo purposes, we make firepad fill the entire browser. */
      #firepad-container {
        width: 100%;
        height: 100%;
      }

      a.powered-by-firepad {
        display: none;
      }
    </style>
  </head>

  <body onload="init()">
    <div id="firepad-container"></div>

    <script>
      firebase.initializeApp({
        apiKey: '<%= apiKey %>',
        authDomain: '<%= authDomain %>',
        databaseURL: '<%= databaseURL %>',
        projectId: '<%= projectId %>',
        storageBucket: '<%= storageBucket %>',
        messagingSenderId: '<%= messagingSenderId %>',
      });
    </script>

    <script>
      function init() {
        //// Get Firebase Database reference.
        var ref = firebase.database().ref();
        var hash = '<%= roomId %>';
        var firepadRef = ref.child(hash);

        //// Create ACE
        var editor = ace.edit('firepad-container');
        editor.setTheme('ace/theme/tomorrow_night_bright');
        editor.$blockScrolling = Infinity; // disable console warning
        var session = editor.getSession();
        session.setUseWrapMode(true);
        session.setUseWorker(false);
        session.setMode('ace/mode/javascript');

        //// Create Firepad.
        var firepad = Firepad.fromACE(firepadRef, editor, {
          defaultText:
            '// JavaScript Editing with Set2Meet! Any language supported! \nfunction go() {\n  const message = "Hello, world.";\n  console.log(message);\n}',
        });
      }
    </script>
  </body>
</html>
